
.animate {
    opacity: 0;
    transition: 0.4s ease-out;
    transform: translateY(20px); 
}

.fade-in {
    transform: translateY(0);
}

.slide-in-right {
    transform: translateX(100%);
}

.slide-in-left {
    transform: translateX(-100%);
}

.slide-in-bottom {
    transform: translateY(100%);
}

.animate-visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

.hoverable {
    display: inline-block;
    
}

.hoverable:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out;
}


.navigation {
    position: absolute;
    top: 200px;
    right: 100px;
    font-weight: 400;
}

.navigation nav {
    display: flex;
    flex-direction: column;
    
}

.navigation nav a span {
    opacity: 0;
    padding-left: 8px;
    transition: 0.2s, opacity 0.2s; 
}

.navigation nav a {
    display: flex;
    opacity: 50%;
    padding: 8px 0px;
    text-decoration: none;
    align-items: center;
}


.navigation nav a:hover span, .navigation a:hover {
    opacity: 90%;
    
}

.navigation nav a:hover ion-icon {
    transform: scale(1.4);
}