/* general */
html, body {
    margin: 0;
    padding: 0;
    background-color: #2E1C2B;
    
}

main {
    margin: 0%;
    padding: 0px 250px;
    overflow: hidden;
}

/* fonts for information content */
p, li {
    font-family: arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}

/* changing color for span */
span {
    color: #FFC500;
}


/* title fonts and color */
h1, h2, h3 {
    font-family: helvetica, arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #E94259;

}

/* heading 2 and 3 font size and spacing */
h2, h3 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0;
}

/* h3 spacing */
h3 {
    font-size: 20px;   
}

/* hr color and size */
hr {
    height: 1px;
    border: 0;
    border-top: 2px solid #8884;
}

/* bold color */
b {
    color:#FFC500;
}

/* creating a background box */
.box {
    padding: 1em;
    margin: 0.3em 0.3em 1em;
    color: #DDDCDD;
    background-color: #3E2C3B;
    border-radius: 5px;
    box-shadow: 0 0 5px #111;
    max-width: 1000px;
}


/** navigation menu bar **/
nav {
    top: 0px !important;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    min-width: 100%;
    backdrop-filter: brightness(90%);
    
}

.logo {
    align-items: center;
    margin-left: 80px;
}

.logo a {
    float: left;
    color: #E94259;
	padding: 15px 20px;
	text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
	font-size: 50px;
    display: flex;
}

.menu {
    float: right;
    padding: 20px;
    margin: 20px;
} 

.menu a {
	color:#E6E6E6;
	text-align:center;
	padding: 15px 24px;
	text-decoration:none;
	font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.5px;
    
}

.menu a:hover {
    color:#E94259;
}

button {
    padding: 15px 24px;
    background-color: #FFC500;
    border: #FFC500;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.5px;

}

button:hover {
    color:#E6E6E6;
    background-color: #E94259;
    border:#E94259;
}

/** end of navigation menu bar **/

/** title section **/
.title h1 {
    font-size: 52px;
    font-weight: 600;
    padding: 10px 0px 4px;
    margin: 150px 0px 0px 0px;
    font-family: Arial, sans-serif;
    color:#E6E6E6;
    letter-spacing: 0.5px;
    text-align: left;
}

.subcreator {
    display: flex;
    padding: 2px 0 0 2px;
}

.subcreator a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color:#E94259;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;    
}

.names {
    padding: 0 10px;
}

/** end of title section **/
